* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.create-post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  gap: 20px;
}

.create-post-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.create-post-section form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-post-section form input,
.create-post-section form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.create-post-section form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.create-post-section form button:hover {
  background-color: #0056b3;
}

.feed-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  gap: 20px;
}

.feed-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.feed-section .post {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feed-section .post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.feed-section .post p {
  font-size: 1rem;
  color: #555;
}

.post img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
